@page
@{
    Layout = null;
    ViewData["Title"] = "Newspaper";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper</title>
    <link rel="stylesheet" href="~/css/Menu/Menu.css">
</head>

<body>
    <header id="header">
        <div class="menu">
            <div id="header-top">
                <div id="icon-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                
               
                <div id="header-button">
                    <ul>
                        <li id="search-button">
                            <a href="#">
                                <i class="fa-solid fa-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="dangnhap.html  ">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="title-text-decoration">
            </div>
            <div class="banner">
                <div class="search">
                    <h1>Thông tin bạn muốn tìm kiếm là? </h1>
                    <div class="timtuor">
                        <input type="text" name="" id="search-tuor" placeholder="Nhập thông tin bạn muốn tìm hiểu vào đây?">


                        <button id="button"> <i class="fa-solid fa-search"></i>Tìm Kiếm ngay</button>
                    </div>
                </div>
            </div>
    </header>
    <hr>
    <main id="main">
        <div class="row">
            <div class="col">
                <div class="main-1">
                    <h1>Khám Phá Thế Giới Cá Koi</h1>
                    <p>Thương hiệu uy tín trong lĩnh vực cá Koi với các giống cá chất lượng hàng đầu.</p>
                    <div class="title-text-decoration">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-2">
            <div class="row">
                <div class="col">
                    <div class="col-1">
                        <a class="col-1" href="#">
                            <p><img src="IMG/anhr1.png" alt=""></p>
                            <div class="col-1-1">
                                <p>GIỐNG CÁ KOI NHẬP KHẨU ĐỘC QUYỀN</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col-1">
                        <a class="col-1" href="#">
                            <p><img src="IMG/anhr2.png" alt=""></p>
                            <div class="col-1-1">
                                <p>TOP 50 THƯƠNG HIỆU CÁ KOI NỔI TIẾNG</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col-1">
                        <a class="col-1" href="#">
                            <p><img src="IMG/anhr3.png" alt=""></p>
                            <div class="col-1-1">
                                <p>
                                    MIỄN PHÍ TƯ VẤN CHĂM SÓC VÀ NUÔI DƯỠNG
                                </p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="main-1">
                    <h1>Thông tin Nổi Bật</h1>
                    <div class="title-text-decoration">
                    </div>
                    <p class="width-home">
                        Tổng hợp các giống cá Koi được yêu thích và lựa chọn nhiều nhất, với màu sắc độc đáo và chất lượng cao từ Nhật Bản.
                    </p>

                </div>
            </div>
        </div>
        <div class="product-list">
            <div class="product-list-title">
                <div>
                    <h2>Thông tin nổi bật</h2>
                </div>
                <div class="product-list-title-button">
                    <a href="">
                        <!--<i class="fa-solid fa-chevron-left"></i> -->
                        <i class="fa-solid fa-chevron-right"></i> <i class="fa-solid fa-chevron-right"></i>
                    </a>  

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="all">
                        <div class="img-tourism">
                            <img src="img/2.jpg" alt="">
                        </div>

                        <div class="text-hearder-location">
                            <a href="tuorphuyeu.html">
                                Koi Kohaku - Vẻ Đẹp Sâu Sắc
                            </a>
                        </div>
                        <div class="specifically">
                            <ul>
                                <li><a href=""><i class="fa-regular fa-clock"></i></a>Thời gian: 2 năm tuổi</li>
                                <li><a href=""><i class="fa-regular fa-calendar"></i></a>Ngày Nhập: Hàng Ngày</li>
                                <li><a href=""><i class="fa-solid fa-location-dot"></i></a>Nguồn gốc: Nhật Bản</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="all">
                        <div class="img-tourism">
                            <img src="img/1.jpg" alt="">
                            
                        </div>

                        <div class="text-hearder-location">
                            <a href="tuorphuyeu.html">
                                Koi Showa - Sắc Đen Bí Ẩn
                            </a>
                        </div>
                        <div class="specifically">
                            <ul>
                                <li><a href=""><i class="fa-regular fa-clock"></i></a>Thời gian: 1 năm tuổi</li>
                                <li><a href=""><i class="fa-regular fa-calendar"></i></a>Ngày Nhập: Hàng Ngày</li>
                                <li>
                                    <a href=""><i class="fa-solid fa-location-dot"></i></a>Nguồn gốc: Nhật bản
                                </li>
                            </ul>
                        </div>
         
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="all">
                        <div class="img-tourism">
                            <img src="img/3.jpg" alt="">
                        </div>

                        <div class="text-hearder-location">
                        <a href=""> Koi Sanke - Phong Thái Hoàng Gia</a>
                        </div>
                        <div class="specifically">
                            <ul>
                                <li><a href=""><i class="fa-regular fa-clock"></i></a>Thời gian: 3 năm tuổi</li>
                                <li><a href=""><i class="fa-regular fa-calendar"></i></a>Ngày Nhập: Hàng Ngày</li>
                                <li>
                                    <a href=""><i class="fa-solid fa-location-dot"></i></a>Nguồn gốc: Nhật Bản                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col">
                    <div class="dung">
                        <div class="tuyendung main-1">
                            <h1>Về cá loại cá</h1>
                            <div class="title-text-decoration">
                            </div>
                            <div class="tuyendung-img">
                                <a href=""><img src="IMG/quy-nhon-tourist-1.jpg" alt=""></a>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="img-thongtin-con">
                                        <img src="IMG/tin1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img-thongtin-con">
                                        <img src="IMG/tin2.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img-thongtin-con">
                                        <img src="IMG/tin3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="dung">
                        <div class="main-1">
                            <h1>Tin tức mới nhất</h1>
                            <div class="title-text-decoration">
                            </div>

                            <div class="thongtin">

                                <a href="">
                                    <div class="thongtin-chinh">
                                        <div class="img-thongtin">
                                            <img src="img/4.jpg" alt="">
                                        </div>
                                        <div class="thongtin-phu">
                                            <strong>
                                            <a href="">Cuộc thi cá Koi Quốc tế tại Nhật Bản</a><br>
                                                <span class="date">01/01/2025</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="thongtin-chinh">
                                        <div class="img-thongtin">
                                            <img src="img/6.jpg" alt="">
                                        </div>
                                        <div class="thongtin-phu">
                                            <strong>
                                            <a href="">Giá trị thị trường cá Koi tăng mạnh</a><br>
                                            <span class="date">01/01/2025</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="thongtin-chinh">
                                        <div class="img-thongtin">
                                            <img src="img/5.jpg" alt="">
                                        </div>
                                        <div class="thongtin-phu">
                                            <strong>
                                            <a href="">Xu hướng nuôi cá Koi trong hồ gia đình ngày càng phổ biến</a><br>
                                            <span class="date">01/01/2025</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="thongtin-chinh">
                                        <div class="img-thongtin">
                                            <img src="img/7.jpg" alt="">
                                        </div>
                                        <div class="thongtin-phu">
                                            <strong>
                                            <a href="">Phát triển công nghệ lọc nước mới cho hồ cá Koi </a><br>
                                            <span class="date">01/01/2025</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            
    </main>
    <footer id="footer">
        <div class="footer">
            <div class="footer-thongtin">
                <img src="IMG/logo-koi.png" alt="Logo Cá Koi">
                <p style="text-align: justify;">
                    Koi World là một trong những thương hiệu uy tín hàng đầu chuyên cung cấp các giống cá Koi chất lượng cao, mang lại giá trị và vẻ đẹp cho hồ cá của bạn. Chúng tôi không chỉ cung cấp các giống cá Koi Nhật Bản, mà còn tư vấn và hỗ trợ về cách chăm sóc, thiết kế hồ cá theo phong thủy để mang lại tài lộc và sự thịnh vượng cho gia đình bạn.
                </p>
            </div>
            <div class="footer-thongtin">
                <h2>Hoạt Động</h2>
                <div>
                    <ul>
                        <li><img src="IMG/icon-arrowright.png" alt="">Về Koi World</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Câu chuyện thành công từ khách hàng</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Tuyển dụng</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Sự kiện và triển lãm cá Koi</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Báo chí nói về Koi World</li>
                    </ul>
                </div>
            </div>
            <div class="footer-thongtin">
                <h2>Thông tin hữu ích</h2>
                <div>
                    <ul>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href="#"> Hướng dẫn mua hàng</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href="#"> Chính sách đổi trả</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href="#"> Điều khoản sử dụng</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href="#"> Chính sách bảo mật</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href="#"> Bản quyền hình ảnh</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-thongtin">
                <h2>Thông tin liên lạc</h2>
                <div id="ketnoi">
                    CÔNG TY TNHH KOI WORLD<br>
                    Điện thoại: 0123 456 789 (Hotline)<br>
                    Email: info@koiworld.vn<br>
                    Địa chỉ: 123 Đường Cá Koi, Thành phố Cá Koi<br>
                    Giấy phép kinh doanh: 52-009/2021/TCDL-GP<br>
                   
                    
                </div>
                <div id="ketnoi">
                    <img src="IMG/footer-koi.jpg" alt="Footer Cá Koi">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/bcd15b30db.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>